*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
div, li{
	/*padding: 10px;*/
}
body{
	color:#666;
}
li{
	list-style: none;
	background-color: #aaa;
	/*border: 3px solid #fff;*/
}
a{
	display: block;
	text-decoration: none;
	height: 40px;
	padding-top: 10px;
}
#header{
	background-color: rgba(255,255,255,0.8);
	position: fixed;
	top: 0;
	left:0;
	z-index: 2;
	width: 100%;
}
#menu{
	
}
#menu > li{
	background-color: yellow;
}
#main{
	background-color: rgba(255,255,255,0.5);
}
#aside{
	background-color: rgba(255,255,255,0.3);
}
#footer{
	background-color: rgba(255,255,255,0.1);

}
@media screen and (max-width:480px){
	body{
		background-color: tomato;
	}
	#header{
		
	}
	#header h1{
		width: 50%;
		float: right;
	}
	.check{
		width: 50px;
		height: 50px;
		position: absolute;
		top:0;
		left:0;
		opacity: 0;
		z-index: 9;
		cursor: pointer;
	}
	.check:checked ~ #menu{
		left: 0;
		transition: 1s;
	}
	#burger{
		background-color: violet;
		width: 50px;
		height: 50px;
		padding-top: 6px;
	}
	#burger li{
		background-color: #fff;
		width: 30px;
		height: 5px;
		margin: 5px auto;
		border-radius: 15px;
	}
	#menu{
		position: absolute;
		top: 50px;
		left: -100%;
		width: 100%;
		transition: 1s;
	}
	#main{
		margin-top: 50px;
	}
	#aside{
		
	}
	#footer{
		height: 100px;
	}
}



