@media screen and (min-width:800px){
	#menu li {
	padding: 10px 10px;
	display: inline-block;
	border-top: none;
}
	#menu li:hover {
	background-color: #000;
	transition: 0.3s all ease-in;
}
	#menu {
	background-color: #EF7D05;
	position: absolute;
	top: 80px;
	left: 0;
	width: 100%;
	text-align: center;
}
	.toggle-button{
		display: none;
	}
	.perfil a:hover {
	background-color: #fff;
	color: #000;
	border: 2px solid #000;
	transition: 0.3s all linear;
}
/*+++++++++++++++++++++ PERFIL ++++++++++++++++++++++*/
	.active {
		right: calc(50% - 60px);
		top: 450px;
	}

  .nav {
    display: none;
  }
  
  .follow {
    width: 50%;
    margin-left: 25%;
    display: block;
    position: unset;
    text-align: center;
  }
	  .header_perfil {
    height: 150px;
  } 
  
  .header_perfil i {
    right: -90%;
  }
}