/*++++++++++++++++++++++++ SPLASH SCREEN ++++++++++++++++++++++++++*/
.preload{
	width: 100%;
	height: 100%;
	background-image: radial-gradient(#0E0E0E, #0A0A0A, #000);
	position: fixed;
	top:0;
	left:0;
	z-index:1;
}
.loading {
    display: inline-block;
    border-width: 9px;
    border-radius: 50%;
    animation: spin 1.5s ease-in-out infinite;
}
.style-1 {
    border-style: solid;
    border-color: #000 #EF7D05 #EF7D05;
}
.logocarga {
	background-image: url("../img/logo_splashscreen.png");
	background-position: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    align-items: center;
}
.circulo_logo_int {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #000;
}
@keyframes spin {
  100% {  transform: rotate(359deg); }
  }
/*++++++++++++ EN DIRECTO +++++++++++++++++*/

.boton_directo{
  display: block;
  font-weight: 700;
  position: relative;
  text-decoration: none;
  transition: all .2s;
  z-index: 1;
  outline: none;
}

.boton_directo{
  padding-right: 22px; 
}

span.icono_directo {
	display: inline-block;
	top: calc(50% - 5px);
	background-color: red;
	width: 10px;
	height: 10px;
	margin-left: 15px;
	border-radius: 50%;
	z-index: 1;
}
    span.icono_directo:before{
      content: '';
      display: block;
      position: absolute;
      background-color: rgba(255,0,5,0.1);
      width: 10px;
      height: 10px;
      border-radius: 50%;
      animation: directo 2s ease-in-out infinite;
      z-index: -1;
    }
@keyframes directo {
  0% {
    transform: scale(1,1);
  }
  100% {
    transform: scale(3.5,3.5);
    background-color: rgba(red,0);
  }
}
/*++++++++++++++++++++++++ INICIO ++++++++++++++++++++++++++++*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 16px;
	line-height: 20px;
	list-style: none;
}

#header {
	width: 100%;
	height: 80px;
	background-color: #000;
	position: fixed;
	z-index: 100;
}
main{
	padding-top: 80px;
}
.logo img {
    height: 80px;
    float: left;
}
.cajamenu {
    margin-top: 80px;
    padding-top: 15px;
	padding-bottom: 15px;
	width: 50%;
	background-color: #000;
}
#menu{
	background-color: #EF7D05;
	position: absolute;
	top: 80px;
	left: -100%;
	width: 100%;
	transition: 0.3s all ease-in;
}
#menu li {
	padding: 10px 20px;
	border-top: 1px solid orange;
}
#menu a {
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	text-decoration: none;
	color: #fff;
	font-weight: 600;
}
.perfil {
	align-items: center;
	display: flex;
	height: 100%;
	width: 150px;
	float: right;
}
.login_menu {
	align-items: center;
	display: flex;
	height: 100%;
	width: 50px;
	float: right;
}
.login_menu a {
	color: #EF7D05;
}
.fa.fa-user {
	margin-right: 5px;
}
.perfil a {
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
    padding: 7px;
    align-items: center;

}
.entradas_inicio {
	width: 100%;
	height: 100px;
	background-color: #222;
	align-items: center;
	display: flex;
}
.entradas_inicio li {
	width: auto;
	background-color: #333;
	padding: 20px;
	margin: 0 auto;
	height: auto;
	border: none;
	border-radius: 10px;
	outline: none;
	box-shadow: 3px 3px 6px #333 , -3px -3px 6px #555;
	resize: vertical;
	transition: ease .2s;
	cursor: pointer;
	display: inline-flex;
}
.entradas_inicio li:hover {
	width: auto;
	background-color: #ddd;
	padding: 27px;
	margin: 0 auto;
	height: auto;
	border: none;
	border-radius: 10px;
	outline: none;
	box-shadow: 3px 3px 6px #333 , -3px -3px 6px #555;
	resize: vertical;
	transition: ease .4s;
	cursor: pointer;
	display: inline-flex;
	font-size: 25px;
}
.entradas_inicio a {
	font-size: 20px;
	font-weight: 300;
	color: #fff;
	margin: 0 auto;
	justify-content: center;
	display: flex;
	vertical-align: middle;
	line-height: 19px;
	text-decoration: none;
}
.entradas_inicio a:hover {
	color:#000;
	transition: ease .2s;
}
.cartel_inicio {
	width: 100%;
	margin-bottom: -7px;
	max-width: 800px;
	margin: 0 auto;
	display: inherit;
}
.cartel_inicio:hover {
	color:#fff;
}
/*+++++++++++++ HAMBURGUESA ++++++++++++*/
	#burger:checked ~ #menu{
		left: 0;
	}
	#burger {
		opacity: 0;
	}
.toggle-button {
	display: block;
	width: 40px;
	height: 40px;
	cursor: pointer;
	box-sizing: border-box;
	background-color: #EF7D05;
	position: absolute;
	right: 14px;
	top: 18px;
	border-radius: 50%;
}
.toggle-button:before, .toggle-button:after {
        position:absolute;
        display:block;
        content:" ";
        width: calc(100% / 2);               
        box-sizing: border-box;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .toggle-button:before {
        top: calc(100% / 4);
        height:calc(100% / 4);
        border-top:2px solid black;
        border-bottom:2px solid black;
        background-color: transparent;
    }

    .toggle-button:after {
        height:2px;
        background-color:black;
        bottom:calc(100% / 4);
    }

  input#burger:checked + .toggle-button:before, input#burger:checked + .toggle-button:after {
        top:14px;
        height:2px;
        bottom: 0;
        margin: 0 auto;
    }

    input#burger:checked + .toggle-button:before {
        transform: rotate(45deg); 
        display: none;
    }

    input#burger:checked + .toggle-button:after {
        height: 12px;
        width: 12px;
        border-radius: 50%;
    }

/*+++++++++++++++++++++++ LOGIN ++++++++++++++++++++++++++++*/
.caja_login {
	height: 100vh;
	width: 100%;
	/* padding-top: 122px; */
	align-items: center;
	display: flex;
	background-image: url("../img/logo_login_Mesa de trabajo 1.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.login {
	width: 350px;
	height: 350px;
	background: #000;
	margin: 30px auto;
	border-radius: 50%;
}
.login .form {
	width: 80%;
	height: 100%;
	padding: 15px 25px;
	margin: 0 auto;
}
.login .form h2 {
	color: #FFF;
	text-align: center;
	font-weight: normal;
	font-size: 18px;
	margin-top: 40px;
	margin-bottom: 10px;
} 
.login .form input {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  background: rgba(255,255,255,.5);
  border: 1px solid rgba(255,255,255,.1);
  padding: 0 15px;
  color: #FFF;
  border-radius: 5px;
  font-size: 14px;
}
.login .form input:focus {
  border: 1px solid rgba(255,255,255,.8);
  outline: none;
}

.login .form input.submit {
  background: rgba(255,255,255,.9);
  color: #444;
  font-size: 15px;
  margin-top: 40px;
  font-weight: bold;
}
.login .form input.submit:hover {
	background-color: #ef7d05;
	color: #fff;
}

/*+++++++++++++++++++++++ PERFIL ++++++++++++++++++++++++++++*/

html,body {
  background: #efefef;
}

.container_perfil {
	max-width: 1250px;
	margin: 0 auto 30px;
	padding: 0 !important;
	width: 90%;
	background-color: #fff;
	box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.10);
}

.header_perfil {
  background: #eee;
  background-image: url("https://i.pinimg.com/originals/13/ee/4b/13ee4b7f442950500ada289231406358.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #D0D0D0;
  height: 250px;
}

.header_perfil i {
  position: relative;
  cursor: pointer;
  right: -96%;
  top: 25px;
  font-size: 18px !important;
  color: #fff;
}

.chat_button {
	list-style: none;
	text-align: center;
	width: 100%;
	margin-top: 40px;
}

.chat_button li {
	position: relative;
	display: inline-block;
}

.chat_button a {
	display: block;
	text-decoration: none;
	background-color: #f7f7f7;
	color: #a7a7a7;
	margin: 20px 20px;
	width: 60px;
	height: 60px;
	position: relative;
	text-align: center;
	line-height: 60px;
	border-radius: 50%;
	box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
	border: solid 1px transparent;
}

.chat_button a:hover {
  text-decoration: none;
  color: #555;
  background: #EF7D05;
	transition: 0.3s all ease-in;
}
.chat_button a:hover {
	color: #fff;
}
.chat_button i {
	color: #2A2A2A;
	 font-size: 23px;
}

.principal_perfil {
      padding: 20px 20px 0px 20px;
}

.caja_info_perfil {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.foto_perfil {
  width: 200px;
  height: 200px;
  margin-top: -120px;
  border-radius: 100px;
  border: 4px solid #fff;
}
.caja_conexion {
	width: 100px;
	top: 300px;
	margin: -45px;
}
.conexion {
	width: 35px;
	height: 35px;
	border-radius: 20px;
	background-color: greenyellow;
	border: 4px solid #fff;
	margin-left: 100px;
	display: block;
}
.nacionalidad {
	width: 24px;
	height: 20px;
	right: calc(50% - 70px);
	top: 75px;
	background-image: linear-gradient(180deg,red 33%, yellow 33%, yellow 66.66%, red 66.66%);
	border: 3px solid #fff;
	display: inline-block;
	vertical-align: middle;
}

.nombre_chat {
	margin-top: 10px;
  	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 25px;
	color: #fff;
	margin-left: 110px;
}

.info {
  margin-bottom: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11pt;
  color: #aaa;
}
.seguidores {
	width: 80px;
}
.siguiendo {
	width: 80px;
	margin: 0 30px;
}
.posts {
	width: 80px;
}
.estadisticas_perfil {
	margin-top: 25px;
	text-align: center;
	padding-bottom: 20px;
	border-bottom: 1px solid #ededed;
	font-family: 'Montserrat', sans-serif;
	line-height: 32px;
	display: inherit;
	width: 300px;
}


.number-stat {
  padding: 0px;
  font-size: 14pt;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  color: #aaa;
}

.desc-stat {
  margin-top: -3px;
  font-size: 10pt;
  color: #bbb;
}

.desc {
  text-align: center;
  margin-top: 25px;
  margin: 25px 40px;
  color: #999;
  font-size: 11pt;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 25px;
  border-bottom: 1px solid #ededed;
}

.redes_sociales_perfil {
	margin: 5px 0 12px 0;
	text-align: center;
	display: inline-block;
	font-size: 40px;
}

.redes_sociales_perfil i {
  	cursor: pointer;
  	margin: 0 15px;
	color: #333333;
	font-size: 40px;
}
.redes_sociales_perfil i:hover {
	color: #EF7D05;
}

.caja_galeria {
  padding: 0 25px 0 25px !important;
}

.nav_galeria {
	display: inline-flex;
	width: 100%;
}

.nav_galeria li {
  margin: 40px 30px 0 10px;
  cursor: pointer;
  font-size: 13pt;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #888;
}

.nav_galeria li:hover, .nav_galeria li:nth-child(1)  { 
  color: #999;
  border-bottom: 2px solid #999;
}

.seguir {
	right: 8%;
	top: 35px;
	font-size: 11pt;
	background-color: #fff;
	color: #ef7d05;
	padding: 8px 15px;
	cursor: pointer;
	transition: all .4s;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	margin: 10px;
	border: 3px solid #ef7d05;
	border-radius: 4px;
	margin-top: 70px;
}

.seguir:hover {
	background-color: #ef7d05;
	color: #fff;
}


.galeria  {
  margin-top: 35px;
}

.galeria div {
  margin-bottom: 30px;
}

.galeria img {
  box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.10);
  width: auto; 
  height: auto;
  cursor: pointer;
  max-width: 100%;
}
/*+++++++++++++ CHAT ++++++++++++*/



/* menu */

.menu_chat {
	position: fixed;
	left: 0px;
	right: 0px;
	width: 100%;
	height: 50px;
	background: #EF7D05;
	z-index: -1;
	box-shadow: 0px 0px 4px 0px #000;
}

.atras {
    position: absolute;
    width: 90px;
    height: 50px;
    top: 0px;
    left: 0px;
    color: #fff;
    line-height: 50px;
    font-size: 30px;
    padding-left: 10px;
    cursor: pointer;
}
.atras img {
    position: absolute;
    top: 5px;
    left: 30px;
    width: 40px;
    height: 40px;
    background-color: rgba(255,255,255,0.98);
    border-radius: 100%;
    margin-left: 15px;
    }
.atras:active {
    background: rgba(255,255,255,0.2);
}
.nombre_perfil {
	top: 3px;
	left: 110px;
	font-family: 'Montserrat';
	font-size: 25px;
	font-weight: 300;
	color: #000;
	cursor: default;
	margin-top: 7px;
}
.last {
	position: absolute;
	top: 30px;
	left: 115px;
	font-family: 'Montserrat';
	font-size: 11px;
	font-weight: 400;
	color: rgba(255,255,255,0.6);
	cursor: default;
	margin-left: -3px;
}

/* mensajes */
.fondo_chat {
	background-image: url("../img/indiana_chat_Mesa de trabajo 1.png");
	height: auto;
	width: 100%;
	position: absolute;
	z-index: -3;
	background-size: auto;
	background-repeat: repeat;
	background-attachment: fixed;
}
.chat {
	list-style: none;
	background: none;
	padding: 0 0 50px 0;
	padding-top: 80px;
	margin-bottom: 10px;
	z-index: -1;
	max-width: 1000px;
	margin: 0 auto;
}
.chat li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
}
.day p {
	width: 60px;
	height: 20px;
	background: #efefef;
	margin: 0 auto;
}
.chat .avatar {
	width: 40px;
	height: 40px;
	position: relative;
	display: block;
	z-index: 2;
	border-radius: 100%;
	background-color: rgba(255,255,255,0.9);
	margin: 0 7px;
}
.chat .avatar img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: rgba(255,255,255,0.9);
}
.chat .day {
	position: relative;
	display: block;
	text-align: center;
	color: #c0c0c0;
	height: 13px;
	line-height: 38px;
	margin-top: 5px;
	margin-bottom: 20px;
	cursor: default;
	border-bottom: 2px solid #c0c0c0;
	width: 30%;
	margin: 10px auto 10px;
}

.usuario1 .msg {
	order: 1;
	border-radius: 10px;
	border-top-left-radius: 0px;
	box-shadow: 1px 2px 0px #D4D4D4;
}
.usuario1 .msg p {
	color:#000;
}
.usuario1::before {
	content: "";
	position: relative;
	top: 0px;
	right: 0px;
	left: 55px;
	width: 0px;
	height: 0px;
	border: 5px solid #fff;
	border-left-color: transparent;
	border-bottom-color: transparent;
}

.usuario2 {
    justify-content: flex-end;
    align-items: flex-end;
}
.usuario2 .msg {
	order: 1;
	border-radius: 10px;
	border-bottom-right-radius: 0px;
	box-shadow: 1px 2px 0px #D4D4D4;
	background-color: #EF7D05;
}
.usuario2 .msg p {
	color:#fff;
}
.usuario2 .avatar {
    order: 2;
}
.usuario2 .avatar::after {
	content: "";
	position: relative;
	display: inline-block;
	bottom: 22px;
	right: 8px;
	width: 0px;
	height: 0px;
	border: 5px solid #EF7D05;
	border-right-color: transparent;
	border-top-color: transparent;
	box-shadow: 0px 2px 0px #D4D4D4;
}

.msg {
    background: white;
    min-width: 50px;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.07);
}
.msg p {
    font-size: 0.8rem;
    margin: 0 0 0.2rem 0;
    color: #777;
}
.msg img {
    position: relative;
    display: block;
    width: 450px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px #eee;
}
@media screen and (max-width: 800px) {
    .msg img {
    width: 300px;
}
}
@media screen and (max-width: 550px) {
    .msg img {
    width: 200px;
}
}

.msg time {
	font-size: 13px;
	color: #d0d0d0;
	margin-top: 3px;
	float: right;
	cursor: default;
}

emoji{
    display: inline-block;
    height: 18px;
    width: 18px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -7px;
    margin-right: 2px;
    transform: translate3d(0px, 3px, 0px);
}

emoji.happy{background-image: url(https://imgur.com/5WUpcPZ.png);}


/* Escribir mensaje */

input.textarea {
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	height: 50px;
	z-index: 99;
	background: #ef7d05;
	border: none;
	outline: none;
	padding-left: 55px;
	padding-right: 55px;
	color: #000;
	font-weight: 400;
}
.emojis {
    position: fixed;
    display: block;
    bottom: 8px;
    left: 7px;
    width: 34px;
    height: 34px;
    background-image: url(https://i.imgur.com/5WUpcPZ.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 100;
    cursor: pointer;
}
.emojis:active {
    opacity: 0.9;
}

/*+++++++++++++++++++++ MURO ++++++++++++++++++++*/
.titulo_muro {
	height: 80px;
	margin-top: 40px;
}
.titulo_muro h1 {
	font-size: 25px;
	line-height: 23px;
	text-align: center;
}
.titulo_muro h2 {
	font-size: 25px;
	line-height: 23px;
	text-align: center;
	color: #ef7d05;
}
.publicar_muro {
	width: 100%;
	height: 100px;
	align-items: center;
	display: flex;
}
.publicar_muro li {
	width: auto;
	background-color: #ef7d05;
	padding: 20px;
	margin: 0 auto;
	height: auto;
	border: none;
	border-radius: 10px;
	outline: none;
	resize: vertical;
	transition: ease .2s;
	cursor: pointer;
	display: inline-flex;
}
.publicar_muro li:hover {
	width: auto;
	background-color: #222;
	padding: 27px;
	margin: 0 auto;
	height: auto;
	border: none;
	border-radius: 10px;
	outline: none;
	box-shadow: 3px 3px 6px #222 , -3px -3px 6px #fff;
	resize: vertical;
	transition: ease .4s;
	cursor: pointer;
	display: inline-flex;
	font-size: 25px;
}
.publicar_muro a {
	font-size: 20px;
	font-weight: 300;
	color: #fff;
	margin: 0 auto;
	justify-content: center;
	display: inline-block;
	vertical-align: middle;
	line-height: 19px;
	text-decoration: none;
}
.publicar_muro a:hover {
	transition: ease .2s;
}
.publicar_muro i {
	font-size: 30px;
	margin-right: 10px;
}
.caja_muro {
	display: block;
	max-width: 980px;
	columns: 4;
	column-gap: 20px;
	padding: 20px;
	z-index: -2;
	padding-top: 70px;
	margin: 0 auto;
}
.post {
  width: 100%;
  display: block;
  overflow: hidden;
  background: #fff;
  border-radius: 4px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
  margin: 0 0 20px;
  break-inside: avoid;
}
.post_imagen {
  height: 200px;
  position: relative;
}
.post_imagen::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.post_imagen::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.post_imagen img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.social__media_icon {
  position: absolute;
  top: 15px;
  left: 15px;
  display: block;
  width: 20px;
  height: 20px;
  overflow: hidden;
  z-index: 3;
}
.social__media_icon i {
  color: #fff;
  font-size: 1.1rem;
}
.post_contenido {
	padding: 15px 15px 0px 15px;
}
.post_usuario {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: 0;
}
.post_imagenperfil {
	display: block;
	overflow: hidden;
	width: 40px;
	height: 40px;
	border-radius: 50px;
	position: relative;
}
.post_imagenperfil img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.post_usuario h3,
.post_usuario span {
  margin: 0 0 0 0.5rem;
}
.post_usuario h3 {
  font-size: 1.2rem;
  margin: 0 0 0 0.5rem;
  color: #353535;
}
.post_usuario span {
  color: rgba(53, 53, 53, 0.7);
  font-size: 13px;
}
.post_contenido_int {
	padding: 10px 10px 0px 10px;
}
.post_contenido_int article {
  font-size: 14px;
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.9);
}
.post_contenido_int article .hashtag {
	color: #ef7d05;
	font-weight: 500;
	font-size: 15px;
}
.post_contenido_int .hashtags {
  list-style: none;
  margin: 0.8rem 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.post_contenido_int .hashtags li {
  font-size: 0.8rem;
  margin: 0 0.2rem;
  color: #ef7d05;
  font-weight: 700;
}
.post_iconos {
	display: flex;
	justify-content: center;
	background-color: #ef7d05;
}
.post_iconos .icono {
	display: flex;
	align-items: center;
	margin: 0 10% 0 10%;
}
.post_iconos .icono i {
	color: rgba(0, 0, 0, 0.7);
	font-size: 20px;
	padding: 10px;
}
.post_iconos .icono i:hover {
	color: #fff;
	transition: 0.3s all ease-in-out;
}
.post_iconos .icono span {
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8rem;
  margin: 0 0 0 0.3rem;
}

@media screen and (max-width: 1200px) {
  .caja_muro {
    columns: 4;
  }
}
@media screen and (max-width: 992px) {
  .caja_muro {
    columns: 3;
  }
}
@media screen and (max-width: 768px) {
  .caja_muro {
    columns: 2;
  }
}
@media screen and (max-width: 480px) {
  .caja_muro {
    columns: 1;
  }
}

/* ++++++++++++++++ FOOTER ++++++++++++++++*/

.footer {
	background: #222;
	padding: 10px 0px 0px 0px;
	text-align: center;
}
.redes_sociales_footer {
	margin: 5px 0 12px 0;
	text-align: center;
	display: inline-block;
	font-size: 40px;
}

.redes_sociales_footer i {
  cursor: pointer;
  margin: 0 15px;
	color: #ddd;
}
.redes_sociales_footer i:hover {
	color: #EF7D05;
}


.caja_footer_iconos{
	width:100%;
	margin:1% 0%;
	padding:0.6% 0%;
	color:gray;
}

.caja_footer_politica {
	width: 100%;
	display: inline-block;
	background-color: #111;
}

.caja_footer_politica li {
	margin: 10px;
	display: inline-block;
}
.caja_footer_politica a {
	color: #888;
	font-size: 11px;
}

.caja_footer_politica a:hover{
color:#fff;
}
.caja_footer_copyright {
	background-color: #000;
}
.caja_footer_copyright p {
	color: #ddd;
	font-size: 10px;
	padding: 10px;
}
 /* +++++++++++++++ PUBLICAR ++++++++++++++*/

.caja_fotoperfil_publicar {
	width: 30%;
	vertical-align: top;
	justify-content: center;
	display: inline-flex;
}
.imagenperfil_publicar {
	display: block;
	width: 80px;
	height: 80px;
	border-radius: 50px;
	position: relative;
}
.imagenperfil_publicar img {
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	border-radius: 50%;
}
.publicar_post_usuarionombre{
	text-align: center;
}
.publicar_post_usuarionombre h3 {
	font-size: 17px;
	margin-top: 15px;
}
.publicar_post_usuarionombre span {
	color: rgba(53, 53, 53, 0.7);
	font-size: 13px;
	margin-top: 5px;
}
.caja_publicar {
	max-width: 998px;
	height: 100%;
	padding-top: 120px;
	background-color: #f5f5f5;
	margin: 0 auto;
	box-shadow: 6px 6px 13px  #d5d5d5 , -6px -6px 13px #fff;
}
.contenido_publicar {
	width: 60%;
	display: inline-block;
}
.caja_texto_publicar {
	width: 100%;
	height: 80px;
	background-color: #EF7D05;
	margin-bottom: 20px;
	border: none;
}
.caja_imagen_publicar h1 {
	font-size: 30px;
	font-weight: 100;
	color: #191919;
	margin-bottom: 20px;
	line-height: 28px;
}

.caja_imagen_publicar_int{

}


.box {
  display: block;
  height: 300px;
  border-radius: 10px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  overflow: hidden;
}

.opciones_subida {
	position: relative;
	height: 75px;
	cursor: pointer;
	overflow: hidden;
	text-align: center;
	margin-top: 20px;
}


.imagen_publicar_preview {
  height: 225px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-image: url('');
  background-color: white;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

}


.boton_subirpost_publicar {

}
.boton_subirpost_publicar a {
	font-size: 11pt;
	background-color: #fff;
	color: #ef7d05;
	padding: 8px 15px;
	cursor: pointer;
	transition: all .4s;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	border-radius: 4px;
	text-decoration: none;
}
.linea_publicar {
	width: 6px;
	height: 300px;
	background-color: #EF7D05;
	margin: 0 auto;
}
.linea2_publicar {
	width: 324px;
	height: 6px;
	background-color: #EF7D05;
	margin: 0 auto;
	float: right;
}

.texto_publicar {
	margin: 30px 0px;
}

.titulo_publicar h1 {
 	font-size: 30px;
 	font-weight: 100;
	color: #191919;
	line-height: 28px;
}

.texto_publicar textarea {
	width: 100%;
	min-height: 100px;
	padding: 20px 25px;
	font-size: 16px;
	line-height: 20px;
	font-weight: 300;
	background: #EF7D05;
	border: none;
	border-radius: 10px;
	outline: none;
	box-shadow: 6px 6px 13px  #d5d5d5 , -6px -6px 13px #fff;
	resize: vertical;
	transition: ease .2s;
	cursor: pointer;
}

.texto_publicar textarea::placeholder {
  color: #333;
}

.texto_publicar textarea:focus {
  min-height: 200px;
  box-shadow: 
    inset 6px 6px 13px  #ff9700 , 
    inset -6px -6px 13px  #e56400 ;
}

.texto_publicar textarea:placeholder-shown {
  background: #EF7D05;
}

/*+++++++++++++++++ DIRECTO ++++++++++++++++*/
.titulo_directo h1 {
    width: 80%;
    font-size: 30px;
    line-height: 28px;
    color: #EF7D05;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
}
.titulo_directo p {
	text-align: center;
	font-size: 16px;
	margin-bottom: 30px;
	margin-top: 20px;
}
	.caja_directos {
	justify-content: center;
	}
.directo_1 {
	width: 90%;
	margin: 0 auto;
}
.directo_2 {
	width: 90%;
	margin: 0 auto;
}
.directo_1 h2 {
	width: 80%;
	display: flex;
	margin: 50px auto 10px;
}
.directo_2 h2 {
	width: 80%;
	display: flex;
	margin: 50px auto 10px;
}
.directo_interior, .directo_exterior {
	width: 100%;
	height: auto;
	margin: 10px auto 30px;
	min-height: 100px;
	padding: 20px 20px;
	font-size: 16px;
	line-height: 20px;
	font-weight: 300;
	border: none;
	border-radius: 10px;
	outline: none;
	box-shadow: 6px 6px 13px #d5d5d5 , -6px -6px 13px #fff;
	resize: vertical;
	transition: ease .2s;
	cursor: pointer;
	display: inline-flex;
}

/*+++++++++++ PANTALLA LEGAL +++++++++++*/
.pantalla_legal {
	width: 90%;
	margin: 0 auto;
}
.pantalla_legal p {
	font-size: 13px;
}
.pantalla_legal h2 {
	margin-top: 25px;
}

/*+++++++++++ GRUPOS +++++++++++*/
.titulo_grupos h1 {
    font-size: 40px;
    line-height: 37px;
    color: #000;
    margin: 70px;
    font-weight: 600;
    text-align: center;
}
.caja_video_grupos {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.caja_video_grupos video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.caja_texto_video_grupos {
	position: relative;
	z-index: 2;
	display: flex;
	text-align: center;
	align-items: center;
	vertical-align: middle;
	height: 100%;
	width: 100%;
}
.velo_video_grupos {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}
.caja1_texto_video_grupos {
	width: 100%;
}
.caja_texto_video_grupos h1 {
	font-size: 60px;
	line-height: 50px;
	color: #fff;
	text-align: center;
	margin: 0 auto;
}
.caja_texto_video_grupos p {
	text-align: center;
	margin: 0 auto;
}
.caja_info_grupos {
	margin: 50px;
}
.info_grupo {
    font-size: 28px;
    color: #ef7d05;
    padding-top: 15px;
    line-height: 26px;
}
.titulo_info_grupos h2 {
	font-size: 25px;
	color: #000;
	line-height: 38px;
	padding: 10px 0px 10px 0px;
}
/* VIDEOS MUSICA GRUPOS*/
.o-video {
  width: 100%;
  height: 0;
  position: relative;
  padding-top: 56.25%;
}
.o-video > iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
}
.caja_videos_grupos {
	justify-content: center;
	}
.video_1 {
	width: 90%;
	margin: 0 auto;
}
.video_1 h2 {
	width: 80%;
	display: flex;
	margin: 10px auto 0px;
	justify-content: center;
	font-weight: 500;
}
.video_grupo_1 {
	width: 100%;
	height: auto;
	margin: 10px auto 30px;
	min-height: 100px;
	padding: 10px 10px;
	font-size: 16px;
	line-height: 20px;
	font-weight: 300;
	border: none;
	border-radius: 10px;
	outline: none;
	resize: vertical;
	transition: ease .2s;
	cursor: pointer;
	display: inline-flex;
}
.caja_sumusica {
	background-color: #ef7d05;
}
.titulo_musica_grupos h2 {
	font-size: 25px;
	color: #fff;
	line-height: 38px;
	padding: 32px 20px 20px 50px;
}

/* +++++++++++ HORARIO ++++++++++++ */
.titulo_horario {
	margin: 45px 20px 0px 0px;
}
.titulo_horario h1 {
	font-size: 60px;
	text-align: center;
	line-height: 58px;
}
.subtitulo_horario {
	width: 80%;
	margin: 15px auto;
	text-align: center;
}
.subtitulo_horario h2 {
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
}
.titulo_viernes_horario {
	background-color: #333;
	padding: 15px;
}
.titulo_viernes_horario h1 {
	color: #fff;
	font-size: 35px;
	text-align: center;
}
.hora_horario {
	display: inline-flex;
	width: 33.3%;
}
.grupo_horario {
	display: inline-flex;
	width: 33.3%;
}
.lugar_horario {
	display: inline-flex;
	width: 33.4%;
}
.hora_texto_horario {
	width: 100%;
}
.grupo_texto_horario {
	width: 100%;
}
.lugar_texto_horario {
	width: 100%;
}

.hora_texto_horario li {
	background-color: #f39200;
	text-align: center;
	margin: 0px 0px 5px 0px;
	height: 60px;
	align-items: center;
	display: flex;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
}
.grupo_texto_horario li {
	background-color: #e94e1b;
	text-align: center;
	margin: 0px 0px 5px 0px;
	height: 60px;
	align-items: center;
	display: flex;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
}
.lugar_texto_horario li {
	background-color: #844e1e;
	text-align: center;
	margin: 0px 0px 5px 0px;
	height: 60px;
	align-items: center;
	display: flex;
	font-size: 16px;
	font-weight: 600;
	color: #fff;

}
.hora_texto_horario li::before {
	content: "";
	position: relative;
	top: 0px;
	right: 0px;
	left: 100%;
	width: 0px;
	height: 0px;
	border-left-color: transparent;
	border-bottom-color: transparent;
	border-left: 20px solid #f39200;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
}
.grupo_texto_horario li::before {
	content: "";
	position: relative;
	top: 0px;
	right: 0px;
	left: 100%;
	width: 0px;
	height: 0px;
	border-left-color: transparent;
	border-bottom-color: transparent;
	border-left: 20px solid #e94e1b;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
}
.lugar_texto_horario li::before {
	content: "";
	position: relative;
	top: 0px;
	right: 0px;
	left: 100%;
	width: 0px;
	height: 0px;
	border-left-color: transparent;
	border-bottom-color: transparent;
	border-left: 0px solid transparent;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
}
.hora_texto_horario a {
	width: 100%;
	color: #fff;
	text-decoration: none;
	font-size: 13px;
	line-height: 12px;
	margin-right: 15px;
}
.grupo_texto_horario a {
	width: 100%;
	color: #fff;
	text-decoration: none;
	font-size: 13px;
	line-height: 12px;
}
.lugar_texto_horario a {
	width: 100%;
	color: #fff;
	text-decoration: none;
	font-size: 13px;
	line-height: 12px;
	margin-left: 15px;
}
.viernes_horario {
	max-width: 900px;
	margin: 0 auto;
}
/* ++++++++++++ COMO LLEGAR ++++++++++++++ */
.titulo_comollegar h1 {
	font-size: 35px;
	padding: 25px 10px 0px 10px;
	line-height: 34px;
	text-align: center;
	background-color: #fff;
}
.logo_ifa_comollegar {
	margin: 0 auto;
	justify-content: center;
	display: flex;
	background-color: #fff;
}
.logo_ifa_comollegar img {
	width: 300px;
}
.descripcion_comollegar p {
	font-size: 14px;
	text-align: justify;
}
.descripcion_comollegar {
	margin: 40px;
}
.mapa_comollegar {
	width: 100%;
}
.titulo2_comollegar {
	padding: 35px;
	text-align: center;
	background-color: #222;
}
.titulo2_comollegar h1 {
	font-size: 33px;
	color: #ef7d05;
	line-height: 38px;
}
.titulo2_comollegar {
	text-align: center;
}
.iconos_opciones_comollegar {
	display: inline-flex;
}
.iconos_opciones_comollegar i {
	margin-right: 15px;
	font-size: 30px;
	color: #ef7d05;
}
.opciones_comollegar {
	padding: 20px 35px 20px 35px;
	background-color: #222;
}
.titulo_opciones h2 {
	font-size: 33px;
	margin: 0px 0px 10px 0px;
	line-height: 32px;
}
.subtitulo_opciones p {
	color: #fff;
}
.titulo_opciones h2 {
	color: #fff;
}
/* ++++++++++++ ZONA DE ACAMPADA ++++++++++++++ */
.texto_acampada p {
    margin: 30px;
    text-align: justify;
    text-align: center;
}
.imagen_zonadeacampada img {
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
}
.imagen_zonadeacampada {
    background-color: #fff;
}
.titulo_acampada h1 {
	font-size: 40px;
	line-height: 38px;
	text-align: center;
	margin: 30px;
}
.instalaciones_acampada {
    width: 100%;
    margin: 25px auto;
    display: inline-block;
}

.instalaciones_acampada h2 {
	font-size: 25px;
	margin: 20px;
}
.texto_titulo_iconos_acampada {
    background-color: #e94e1b;
    padding: 10px;
}
.texto_iconos_acampada p {
    padding: 20px;
}
.texto_titulo_iconos_acampada h3 {
    padding: 10px;
    display: inline-flex;
    font-size: 20px;
    color: #fff;
}
.texto_titulo_iconos_acampada i {
    margin-left: 10px;
    color: #fff;
}
.caja_iconos_acampada {
    margin: 0 25px;
}
.texto_iconos_acampada {
    margin: 0 25px;
    background-color: #fff;
}

/* ++++++++++++ LUGAR ++++++++++++++ */

.texto_titulo_iconos_lugar_1 {
    background-color: #f39200;
    padding: 10px;
}
.texto_titulo_iconos_lugar_2 {
    background-color: #e94e1b;
    padding: 10px;
}
.texto_titulo_iconos_lugar_3 {
    background-color: #844e1e;
    padding: 10px;
}
.texto_titulo_iconos_lugar_1 h3 {
    padding: 10px;
    display: inline-flex;
    font-size: 20px;
    color: #fff;
}
.texto_titulo_iconos_lugar_2 h3 {
    padding: 10px;
    display: inline-flex;
    font-size: 20px;
    color: #fff;
}
.texto_titulo_iconos_lugar_3 h3 {
    padding: 10px;
    display: inline-flex;
    font-size: 20px;
    color: #fff;
}