*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	height: 100vh;
	font-size: 20px;
}
#header{
	height: 10vh;
	background-color: lightcoral;
}
.fa{
	font-size: 48px;
	color: #fff;
}
#aside{
	height: 15vh;
	background-color: lavender;
	overflow-x: scroll;
	scrollbar-width:none;
}
.bola{
	width: 10vh;
	height: 10vh;
	border-radius: 50%;
	background-color: #fff;
	border: 1px solid gray;
	margin: 0 5px;
	display: inline-block;
}
#slider{
	background-color: yellow;
	height: 10vh;
	width: 300vw;
}
#main{
	width: 100%;
	background-color: pink;
	height: 65vh;
	overflow-y: auto;
	scrollbar-width:none;
}
#main::-webkit-scrollbar, #slider::-webkit-scrollbar{
	display: none;
}

#footer{
	height: 10vh;
	background-color: lightblue;
}