*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"
}
body{
	height: 100vh;
	font-size: 20px;
}
#header{
	height: 10vh;
	background-color: #ddd;
}
.avion, .camara {
	width: 25%;
	float: left;
	text-align: center;
	line-height: 10vh;
}
.logo a{
	width: 50%;
	height: 10vh;
	text-align: center;
	line-height: 10vh;
	float: left;
	cursor: pointer;
}
.logo img{
	height: 10vh;
}
.fa{
	font-size: 28px;
	color: #444;
}
#aside{
	height: 15vh;
	background-color: #fff;
	overflow-x: scroll;
	scrollbar-width:none;
	padding-top: 15px;
}
.bola{
	width: 8vh;
	height: 8vh;
	border-radius: 50%;
	background-color: #fff;
    background: linear-gradient(to right, #e4405f, #feda77);
	margin: 0 15px;
	display: inline-block;
	text-align: center;
	cursor:pointer;
}
.bola img{
	width: 100%;
	border-radius: 50%;
	padding: 5%;
}
#slider h4 {
	font-size: 8px;
}
#slider{
	background-color: #fff;
	height: 10vh;
	width: 290vw;
}
#main{
	
}
#main::-webkit-scrollbar, #slider::-webkit-scrollbar{
	display: none;
}
.user {
	border-top: 2px solid #ddd;
	height: 8vh;
	align-items: center;
	display: flex;
}
.bolauser {
	width: 5vh;
	height: 5vh;
	border-radius: 50%;
	background-color: #fff;
	background: linear-gradient(to right, #e4405f, #feda77);
	margin: 0 15px;
	text-align: center;
}
.user img{
	width: 100%;
	border-radius: 50%;
	padding: 5%;
}
.user h4 {
	display: inline-block;
	font-size: 16px;
	font-weight: 100;
}
.textouser {
	vertical-align: middle;
	float: left;
	line-height: 2.4;
}
.trespuntos {
	position: absolute;
	right: 15px;
}
.foto {
	width: 100%;
	background-color: #ddd;
	overflow-y: hidden;
	scrollbar-width: none;
	height: 48vh;
}
.cajafoto{
	height: 100%;
	width: 500vw;
	background-color: #ddd;
}
.fotoint{
	height: 48vh;
	display: inline-block;
}
.foto img {
	height: 48vh;
}
.fa-bookmark{
	float:right;
}
.iconos{
	height: 10vh;
}
.iconos .fa {
	margin: 15px 15px;
}
.iconosfooter {
	align-items: center;
	display: flex;
	padding-top: 15px;
}
.iconosfooter .fa {
	width: 100%;
	text-align: center;
}
#bajofoto{
	height: 12vh;
}
#footer{
	height: 7vh;
	background-color: #ddd;
}